{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	{% if items !=[] %}

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
					{% for i in items %}
					<a href = "{{url_for('showOneItem', category_name = category_name, item_name = i.name)}}">
							<div class="menu-item">
								<h3>{{i.name}}</h3>
							</div>
						</a>
					{% endfor %}
			</div>
		</div>

	{% endif %}
{% endblock %}
